{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Ramiro López">
    <title>Dimarcu's Pizza</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/dashboard/">

    <!-- Iconos de Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="{% static './dashboard/dashboard.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static '/css/style2.css'%}">
  </head>
<body>
<header class="navbar navbar-dark sticky-top bg-navbar flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href=" {% url 'home:mainapp' %} "><img height="30px" src=" {% static './img/logo_empresa.png'%} " alt="Logotipo"> Dimarcu's Pizza</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container w-100">
    {% block titulo %}
    {% endblock titulo %}
  </div>
  {% comment %} <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Buscar" aria-label="Search"> {% endcomment %}
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" href=" {% url 'home:logout' %} ">Cerrar sesión</a>
    </div>
  </div>
</header>
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
      <div class="position-sticky pt-3 sidebar-sticky" style="background-color: #BEB6B1;">
        <ul class="nav flex-column">

          {% if perms.groups.auth %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href=" {% url 'home:serviceapp' %} ">
              <span data-feather="home" class="align-text-bottom"></span>
              Informes
            </a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href=" {% url 'home:ordenes_progreso' %} ">
              <span data-feather="file" class="align-text-bottom"></span>
              Ordenes
            </a>
          </li>
          {% if perms.groups.auth %}
          <li class="nav-item">
            <a class="nav-link" href=" {% url 'home:productoapp' %} ">
              <span data-feather="shopping-cart" class="align-text-bottom"></span>
              Platillos
            </a>
          </li>
          {% endif %}
          {% if perms.groups.auth %}
          <li class="nav-item">
            <a class="nav-link" href=" {% url 'home:teamapp' %} ">
              <span data-feather="users" class="align-text-bottom"></span>
              Usuarios
            </a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href=" {% url 'home:gastoapp' %} ">
              <span data-feather="bar-chart-2" class="align-text-bottom"></span>
              Gastos
            </a>
          </li>
        </ul>

        {% if perms.groups.auth %}
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-danger text-uppercase">
          <span>Reportes Guardados</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle" class="align-text-bottom"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text" class="align-text-bottom"></span>
              Mes actual
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text" class="align-text-bottom"></span>
              Ultimo cuarto
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text" class="align-text-bottom"></span>
              Compromiso social
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text" class="align-text-bottom"></span>
              Año de ventas
            </a>
          </li>
        </ul>
        {% endif %}
      </div>
    </nav>
    
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pt-2">
      <div aria-live="polite" aria-atomic="true" class="position-relative">
          <!-- Position it: -->
          <!-- - `.toast-container` for spacing between toasts -->
          <!-- - `top-0` & `end-0` to position the toasts in the upper right corner -->
          <!-- - `.p-3` to prevent the toasts from sticking to the edge of the container  -->
          <div class="toast-container top-0 end-0 p-3">

              {% if messages %}
                    {% for message in messages %}
                        <!-- Then put toasts within -->
                        <div class="toast text-bg-{{ message.tags }}" role="alert" aria-live="assertive" aria-atomic="true">
                              <div class="d-flex">
                                <div class="toast-body">
                                  {{ message }}
                                </div>
                                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                              </div>
                        </div>
                    {% endfor %}
              {% endif %}
          </div>
    </div>
        {% block contenido %}
        {% endblock contenido %}

    </main>
  </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
    <script>
        var myAlert = document.getElementsByClassName('toast');
        mostrarToast();
        function mostrarToast(){
            console.log(myAlert.length);
            for (let i = 0; i < myAlert.length; i++) {
                console.log('intento '+i);
                var my_Toast = new bootstrap.Toast(myAlert[i]);
                my_Toast.show();
            }
        }
    </script>
  </body>
</html>