<form action=" {% url 'home:cliente_nuevo' %} " method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_nombre">Nombre</label>
        <input class="form-control" id="id_nombre" name="nombre" type="text" placeholder="Nombre">
    </div>
    <div class="form-group">
        <label for="id_direccion">Direccion</label>
        <input class="form-control" id="id_direccion" name="direccion" type="text" placeholder="Direccion">
    </div>
    <div class="form-group">
        <label for="id_DPI">DPI</label>
        <input class="form-control" id="id_DPI" name="dpi" type="text" placeholder="DPI">
    </div>
    <div class="form-group">
        <label for="id_NIT">NIT</label>
        <input class="form-control" id="id_NIT" name="nit" type="text" placeholder="NIT">
    </div>
    <div class="form-group">
        <input type="submit" value="Enviar">
    </div>
</form>