{% extends 'base_sidebar.html' %}

{% block contenido %}

    <div class ="container">
        <table class="table table-bordered">
            <tr>
                <td>Fecha</td>
                <td>Cantidad</td>
                <td>Descripcion</td>
                <td>Monto</td>
                <td>Total</td>
                <td>Cuadre Caja</td>
                <td>Editar</td>
            </tr>
            {% for gast in object_list %}
            <tr>
                <td>{{gast.fecha}}</td>
                <td>{{gast.cantidad}}</td>
                <td>{{gast.descripcion}}</td>
                <td>{{gast.monto}}</td>
                <td>{{gast.total}}</td>
                <td>{{gast.cuadreCaja}}</td>   
                <td></td>             
            </tr>
            {% endfor %}
        </table>

    </div>

{% endblock contenido %}