{% extends 'base_sidebar.html' %}

{% block titulo %}
  <div>
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" >
      <i class="bi bi-plus-circle-fill"> Agregar</i>
    </button>
  </div>

  <h2 class="text-white">Gastos</h2>
{% endblock titulo %}

{% block contenido %}

<br><br>
<form class= "form-inline my-2 my-lg-0">
  <input class= "form-control mr-ms-2" type="text" name="descripcion" value="{{request.GET.descripcion}}" placeholder ="Buscar..." arial-label="Search">    
</form>

    <!--Create a new register using Model -->
    <br><br><br>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Ingresando Gastos</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>   
            <div class="modal-body">
                <form action="{% url 'home:gasto_nuevo' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="inputCantidad">Cantidad</label>
                  <input type="number" class="form-control" id="inputCantidad" name="cantidad" onchange="calcularTotal()" required>
                </div>
                <div class="form-group">
                  <label for="inputDescripcion">Descripción</label>
                  <input type="text" class="form-control" id="inputDescripcion" name="descripcion" required>
                </div>
                <div class="form-group">
                  <label for="inputMonto">Precio unitario</label>
                  <input type="number" class="form-control" id="inputMonto" name="monto" onchange="calcularTotal()" step="0.5" required>
                </div>
                <div class="form-group">
                  <label for="inputTotal">Total</label>
                  <input type="number" class="form-control" id="inputTotal" name="total" disabled>
                </div>
                <div class="form-group my-2">
                  <button type="submit" class="btn btn-primary">Guardar cambios</button>
                  <button type="button" id="btnmodal" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
              </form>
            </div> 
        </div>
      </div>
    </div>
  
    <!--Data Listed-->
    <div class="container table-responsive">
      <table class="table table-secondary">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Cantidad</th>
            <th>Descripcion</th>
            <th>Monto</th>
            <th>Total</th>
            <th>Creado por:</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
        {% for gast in object_list %}
          <tr>
            <td>{{gast.creacion | date}}</td>
            <td>{{gast.cantidad}}</td>
            <td>{{gast.descripcion}}</td>
            <td>Q {{gast.monto}}</td>
            <td>Q {{gast.total}}</td>
            <td> {{gast.colaborador_id.first_name}} {{gast.colaborador_id.last_name}}</td>
            <td>
              <a class="btn btn-dark" href="{% url 'home:editargastoapp' gast.id %}">Editar</a>
              <a class="btn btn-danger" href="{% url 'home:eliminargasto' gast.id %}">Eliminar</a>
            </td>               
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <script>
    function calcularTotal() {
      const cantidad = parseInt(document.getElementById("inputCantidad").value);
      const precio = parseFloat(document.getElementById("inputMonto").value);
      const total = cantidad * precio;
      document.getElementById("inputTotal").value = total.toFixed(2);
      console.log(total.toFixed(2));
    }
  </script>
{% endblock contenido %}