{% extends 'base_sidebar.html' %}

{% block titulo %}
  <div>
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" >
      <i class="bi bi-plus-circle-fill"> Agregar</i>
    </button>
  </div>

  <h2 class="text-white">Gastos</h2>
{% endblock titulo %}

{% block contenido %}

<br><br>
<form class= "form-inline my-2 my-lg-0">
  <input class= "form-control mr-ms-2" type="text" name="descripcion" value="{{request.GET.descripcion}}" placeholder ="Buscar..." arial-label="Search">    
</form>

    <!--Create a new register using Model -->
    <br><br><br>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Ingresando Gastos</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>   
            <div class="modal-body">
                <form method="POST">
                {% csrf_token %}
                {{gast.creacion}}</td>
                <br><br>cantidad {{ form.cantidad }}
                <br><br>descripción {{ form.descripcion }}
                <br><br> monto {{ form.monto }}
                <br><br>total {{ form.total }}
                <br><br>cuadreCaja {{ form.cuadreCaja }}
                <br><br><br>
                <button type="submit" class="btn btn-primary">Guardar cambios</button>
              <button type="button" id="btnmodal" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              </form>
            </div> 
        </div>
      </div>
    </div>
  
    <!--Data Listed-->
      <div class="table-responsive"><table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Cantidad<div class="fw-normal"></div></th>
          <th>Descripcion<div class="fw-normal"></div></th>
          <th>Monto<div class="fw-normal"></div></th>
          <th>Total<div class="fw-normal"></div></th>
          <th>Cuadre Caja<div class="fw-normal"></div></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for gast in object_list %}
      <tr>
        <td><code>{{gast.creacion}}</code></td>
        <td>{{gast.cantidad}}</td>
        <td>{{gast.descripcion}}</td>
        <td>{{gast.monto}}</td>
        <td>{{gast.total}}</td>
        <td>{{gast.cuadreCaja}}</td> 
        <td><a class="btn btn-dark" href="{% url 'home:editargastoapp' gast.id %}">Editar</a></td>              
        <td><a class="btn btn-danger" href="{% url 'home:eliminargasto' gast.id %}">Eliminar</a></td>   
     </tr>
     {% endfor %}
    </div>

{% endblock contenido %}