{% extends 'base_sidebar.html' %}

{% load static %}

{% block titulo %}
    <a class="btn btn-offcanvas btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
        <i class="bi bi-bag-plus-fill">Ver Orden</i>
    </a>
{% endblock titulo %}


{% block contenido %}

    <!-- Panel OffCanvas -->
    <div class="offcanvas offcanvas-end bg-warning text-dark" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <div class="container">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Orden No. {{orden.id}} </h5>
                <div> {{orden.cliente_id}} </div>
                <div> {{orden.tipo}} </div>
                <div> Direccion: {{cliente.direccion}} </div>
                <div> Telefono: <a class="link-danger" href="tel:+502{{cliente.telefono}}">{{cliente.telefono}}</a> <a class="link-success" href="https://api.whatsapp.com/send/?phone=502{{cliente.telefono}}">Whatsapp</a></div>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <h2 class="">Detalle de orden</h2>
            <table class="table table-primary table-bordered table-hover">
                <thead>
                    <td>Borrar</td>
                    <td>Cantidad</td>
                    <td>Descripción</td>
                    <td>Precio</td>
                </thead>

                <tbody id="body_table_orden">
                    {% for det in orden.detalleorden_set.all %}
                        <tr>
                            <td><a href=" {% url 'home:detalle_eliminar' det.id %} " class="btn btn-danger">-</a></td>
                            <td> {{det.cantidad}} </td>
                            <td> {{det.tipoPlatillo_id}} </td>
                            <td> Q{{det.sub_total}} </td>
                        </tr>
                    {% endfor %}
                </tbody>

                <tfoot>
                    <td></td>
                    <td></td>
                    <td>Total</td>
                    <td id="sumaTotal"> Q {{total}} </td>
                </tfoot>
            </table>
            <a class="btn btn-primary" href=" {% url 'home:ordenes_progreso' %} ">Completar orden</a>
        </div>
    </div>
    <!-- / Panel OffCanvas -->

    <div class="container">
        {% for plat in platillos %}
            <h2 class=""> {{plat.nombre}} </h2>
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-4 g-4">
                {% for tipoPlat in plat.especialidad_set.all %}
                    <div class="col">
                        <div class="card h-100 border-secondary">
                            <img src="{{ tipoPlat.imagen.url }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"> {{ tipoPlat.tipo }} </h5>
                                <p class="card-text">{{ tipoPlat.descripcion }}</p>    
                            </div>
                            <ul class="list-group list-group-flush">
                                {% for tipo in tipoPlat.tipo_set.all %}
                                    <li class="list-group-item list-group-item-action d-flex py-1">{{tipo.tipo}} Q{{tipo.precio}} </li>
                                  {% endfor %}
                            </ul>        
                        </div>
                    </div>
                {% endfor %}
            </div>
            <br>
            <br>
        {% endfor %}

    </div>

    {% endblock contenido %}

    <script>
        function agregarDetalle(){
            var fila = document.createElement('tr');
            var tdAcciones = document.createElement('td');
            var tdCantidad = document.createElement('td');
            var tdDescripcion = document.createElement('td');
            var tdPrecio = document.createElement('td');
        
            var textoAcciones = document.createTextNode('-');
            var textoCantidad = document.createTextNode('4');
            var textoDescripcion = document.createTextNode('Pizza');
            var textoPrecio = document.createTextNode('50.00');

            tdAcciones.appenChild(textoAcciones);
            tdCantidad.appenChild(textoCantidad);
            tdDescripcion.appenChild(textoDescripcion);
            tdPrecio.appenChild(textoPrecio);
            
            fila.appenChild(tdAcciones);
            fila.appenChild(tdCantidad);
            fila.appenChild(tdDescripcion);
            fila.appenChild(tdPrecio);
        
            var tabla = document.getElementById('body_table_orden');
            tabla.appenChild(fila);
        }
    </script>