{% extends 'base_sidebar.html' %}

{% block titulo %}
  <div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      <i class="bi bi-bag-plus-fill small"> Agregar</i>
    </button>

  </div>
  <h2 class="text-white">Ordenes</h2>
{% endblock titulo %}


{% block contenido %}

  <div class="home">

    <main class="">
      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Agregue los siguientes datos</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action=" {% url 'home:ordenes_nueva' %} "  method="POST">
                {% csrf_token %}
                
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="id_tipo">Consumo en:</label>
                  <div class="col-sm-10">
                    <select class="form-control" name="tipo" id="id_tipo">
                      <option value="Local">Local</option>
                      <option value="Domicilio">Domicilio</option>
                      <option value="Llevar">Para llevar</option>
                    </select>
                  </div>
                </div>
                
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="id_cliente_id">Cliente</label>
                  <div class="col-sm-8">
                    <select class="form-control" name="cliente" id="id_cliente_id">
                      {% for cli in object_list.cliente %}
                      <option value=" {{cli.id}} "> {{cli.nombre}} </option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-sm-2">
                    <input class="btn btn-success" type="button" value="+">
                  </div>
                </div>

                <div class="form-group row mt-2">
                  <label class="col-sm-2 col-form-label" for="id_colaborador_id">Colaborador</label>
                  <div class="col-sm-10">
                    <select class="form-control" name="colaborador_id" id="id_colaborador_id">
                      {% for cli in object_list.colaborador %}
                      <option value=" {{cli.id}} "> {{cli.nombre}} </option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="form-group row mt-2">
                  <label class="col-sm-2 col-form-label" for="id_cuadrecaja_id">Cuadre de caja</label>
                  <div class="col-sm-10">
                    <select class="form-control" name="cuadrecaja" id="id_cuadrecaja_id">
                      {% for cli in object_list.cuadrecaja %}
                      <option value=" {{cli.id}} "> {{cli.fecha}} </option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                
                <div class="container d-flex justify-content-center my-3">
                  <button class="btn btn-success" type="sumbit">Guardar</button>
                </div>


              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <h2 class="">En Progreso</h2>

        <div class="container">
          <form class="form-inline d-flex justify-content-center" action="" method="get">
            <div class="form-group px-5">
              <label for="estado">Filtrar por estado</label>
              <select class="form-control" name="estado" id="estado" value=" {{ request.GET.estado }} ">
                <option value="">Todas</option>
                <option value="Creada">Creada</option>
                <option value="Terminada">Terminada</option>
                <option value="Entregada">Entregada</option>
              </select>
              <div class="container my-1">
                <input class="btn btn-primary" type="submit" value="Buscar">
              </div>
            </div>
          </form>
        </div>

        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-4 g-4">
          <table class="table table-dark table-hover table-bordered">
            <tr>
              <td>ID #</td>
              <td>Fecha</td>
              <td>Tipo</td>
              <td>Estado</td>
              <td>Cliente</td>
              <td>Colaborador</td>
              <td>Cuadre de caja</td>
            </tr>
            {% for ord in object_list.orden %}
            <tr>
              <td> {{ord.id}} </td>
              <td> {{ord.creacion}} </td>
              <td> {{ord.tipo}} </td>
              <td> {{ord.estado}} </td>
              <td> {{ord.cliente_id}} </td>
              <td> {{ord.colaborador_id}} </td>
              <td> {{ord.cuadreCaja_id}} </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </main>
  </div>

{% endblock contenido %}