{% extends 'base_sidebar.html' %}

{% load static %}

{% block titulo %}
  <div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      <i class="bi bi-bag-plus-fill small"> Agregar</i>
    </button>

  </div>
  <h2 class="text-white">Ordenes</h2>
{% endblock titulo %}


{% block contenido %}

  <div class="home">

    <main class="">
      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Agregue los siguientes datos</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action=" {% url 'home:ordenes_nueva' %} "  method="POST">
                {% csrf_token %}
                
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="id_tipo">Consumo en:</label>
                  <div class="col-sm-10">
                    <select class="form-control" name="tipo" id="id_tipo">
                      <option value="Local">Local</option>
                      <option value="Domicilio">Domicilio</option>
                      <option value="Llevar">Para llevar</option>
                    </select>
                  </div>
                </div>
                
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="id_cliente_id">Cliente</label>
                  <div class="col-sm-8">
                    <select class="form-control" name="cliente" id="id_cliente_id">
                      {% for cli in object_list.cliente %}
                      <option value=" {{cli.id}} "> {{cli.nombre}} </option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-sm-2">
                    <a href=" {% url 'home:cliente_formulario' %} " class="btn btn-success" type="button" rel="noopener noreferrer">+</a>
                  </div>
                </div>

              <input class="form-control" type="hidden" value="{{ user.id }}" name="colaborador_id" id="id_colaborador_id">

                <div class="container d-flex justify-content-center my-3">
                  <button class="btn btn-primary" type="sumbit">Crear Orden</button>
                </div>


              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <h2 class="">En Progreso</h2>

        <div class="container">
          <form class="form-inline d-flex justify-content-center" action="" method="get">
            <div class="form-group px-5">
              <label for="estado"> Filtrar por estado </label>
              <select class="form-control" name="estado" id="estado" value=" {{ request.GET.estado }} ">
                <option value="">Todas</option>
                <option value="Nueva">Creada</option>
                <option value="Preparada">Preparada</option>
                <option value="Entregada">Entregada</option>
                <option value="Finalizada">Finalizada</option>
              </select>
              
              <div class="container my-1">
                <input class="btn btn-primary" type="submit" value="Buscar">
              </div>
            </div>
          </form>
        </div>

        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-4 g-4">
          
          {% for ord in object_list.orden %}

          {% if ord.estado == 'Nueva' %}
            <div class="card text-white bg-secondary mb-3 mx-3" style="max-width: 18rem;">
          {% endif %}
          {% if ord.estado == 'Preparada' %}
            <div class="card text-white bg-success mb-3 mx-3" style="max-width: 18rem;">
          {% endif %}
          {% if ord.estado == 'Entregada' %}
            <div class="card text-white bg-warning mb-3 mx-3" style="max-width: 18rem;">
          {% endif %}
          {% if ord.estado == 'Finalizada' or ord.estado == 'Terminada' %}
            <div class="card text-white bg-primary mb-3 mx-3" style="max-width: 18rem;">
          {% endif %}

            <div class="card-header">No. {{ord.id}} - {{ord.tipo}} - {{ord.estado}} </div>
            <div class="card-body">
              <h5 class="card-title">{{ord.cliente_id}}</h5>
              <ul>
                {% for detOrd in ord.detalleorden_set.all %}
                  <li class="card-text style-none"> {{detOrd.cantidad}} {{detOrd.tipo_id}} </li>
                {% endfor %}
              </ul>
              <div class="card-footer">
                <a href=" {% url 'home:tomar_orden' ord.id %} " class="btn btn-info">Editar</a>
                <a href="{% url 'home:ordenes_eliminar' ord.id %}" class="btn btn-danger">Eliminar</a>
              </div>
            </div>
          </div>

          {% endfor %}

        </div>
      </div>
    </main>
  </div>

  {% endblock contenido %}

  <script src=" {% static './js/functions/emergente.js' %} "></script>