{% extends 'base_sidebar.html' %}

{% block titulo %}
<h2 class="text-white">Creando nueva categoría de platillos</h2>
{% endblock titulo %}

{% block contenido %}

    <div class="container mt-5 w-50">
        <form action="{% url 'home:platillo_nuevo' %}" method="post">
            {% csrf_token %}
            <label for="id_nombre">Tipo de platillos</label>
            <input  class="form-control" type="text" name="nombrePlatillo" id="id_nombre" required="">
        
            <input class="btn btn-success" type="submit" value="Guardar">
        </form>
    </div>

{% endblock contenido %}