{% extends 'base_sidebar.html' %}

{% block titulo %}
  <h2 class="text-white">Platillos</h2>
{% endblock titulo %}

{% block contenido %}

    <div class="home">
  <!-- Modal categoria -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Categoría</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action=" {% url 'home:categoria_nueva' %} " method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="id_tipo">Escriba el nombre de la nueva categoria</label>
              <input class="form-control" type="text" id="id_tipo" name="categoria" required>
            </div>
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  

  <!-- Modal Especialidad-->

    <!-- Modal Especialidad-->
  <div class="modal fade" id="modalEspecialidad" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Especialidad</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action=" {% url 'home:especialidad_nueva' %} " method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label for="id_tipo">Nombre</label>
              {{form.descripcion}}
            </div>
            <div class="form-group mb-2">
              <label for="imagen">Imagen</label>
              {{form.imagen}}
            </div>
              <input type="hidden" id="inputIdCategoria" name="categoria_id">

            <button type="submit" class="btn btn-primary">Guardar cambios</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


    <!-- Modal Tipo-->
  <div class="modal fade" id="modalTipo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Tipo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action=" {% url 'home:tipo_nuevo' %} " method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="id_tipo">Tipo o sabor</label>
                <input type="text" class="form-control" name="tipo">
            </div>
            <div class="form-group mb-2">
              <label for="precio">Precio</label>
                <input type="number" class="form-control" name="precio">
            </div>
              <input type="hidden" id="inputIdEspecialidad" name="id_especialidad">

            <button type="submit" class="btn btn-primary">Guardar cambios</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    <!-- Final de los modal -->


<!-- Bloque del contenido principal-->
  <div class="container">
    <p class="fw-bold">Categorías
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <i class="bi bi-bag-plus-fill small"> Nueva Categoría</i>
        </button>
    </p>

    {% for plat in platillo %}
        <h5 class="fw-bold">
            {{plat.nombre}}
            <a href="{% url 'home:categoria_eliminar' plat.id %}" class="btn btn-danger"> <small><i class="bi bi-trash"></i></small> </a>
            <a type="button" class="btn btn-success" onclick="openModalCEspecialidad({{ plat.id }})">
                <i class="bi bi-bag-plus-fill small"> Nueva Especialidad</i>
            </a>
            <a type="hidden" id="botonModalEspecialidad" data-bs-toggle="modal" data-bs-target="#modalEspecialidad"></a>
        </h5>
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 g-4">

            <!-- Card of Products -->
            {% for tipoPlat in plat.especialidad_set.all %}
                <div class="col">
                    <div class="card w-100 h-100 border-secondary">
                        <img src="{{tipoPlat.imagen.url}}" class="card-img-top" width="10px" alt="...">
                        <div class="card-body py-1">
                            <h5 class="card-title mb-0"> {{ tipoPlat.descripcion }} </h5>
                        </div>
                        <ul class="list-group list-group-flush">
                          {% for tipo in tipoPlat.tipo_set.all %}
                            <li class="list-group-item list-group-item-action d-flex py-1">{{tipo.tipo}} Q{{tipo.precio}} </li>
                          {% endfor %}
                            <li class="form-control">
                                <a type="hidden" id="buttonModalTipo" data-bs-toggle="modal" data-bs-target="#modalTipo"></a>
                                <a class="btn btn-success py-1 px-2" onclick="openModalTipo({{ tipoPlat.id }});"> <i class="bi bi-plus-square"></i> </a>
                                <a class="btn btn-dark py-1 px-2" href="{% url 'home:especialidad_editar' tipoPlat.id %}"><i class="bi bi-pencil-square"></i></a>
                                <a class="btn btn-danger py-1 px-2" href="{% url 'home:especialidad_eliminar' tipoPlat.id %}"> <i class="bi bi-trash"></i> </a>

                            </li>
                        </ul>        
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
        <br>
    {% endfor %}
  </div>

        <script>
            function openModalTipo(id){
                var inputEspecialidad = document.getElementById('inputIdEspecialidad');
                inputEspecialidad.value = id;
                var boton = document.getElementById('buttonModalTipo');
                boton.click();
            }
            function openModalCEspecialidad(id){
                var inputCategoria = document.getElementById('inputIdCategoria');
                inputCategoria.value = id;
                var boton = document.getElementById('botonModalEspecialidad');
                boton.click();
            }

        </script>
{% endblock contenido %}