{% extends 'base_sidebar.html' %}

{% block contenido %}


    <div class="home">

        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" role="status"></div>
        </div>
        <!-- Spinner End -->
    
                
                  <!-- Page Header Start -->
                  <!-- container-fluid page-header FONDO DE LETRAS DE NUESTRO EQUIPO-->
    <div class=" py-6 wow fadeIn" data-wow-delay="0.1s"  >
        <div class="container text-center pt-5 pb-3">
            <h1 class="display-4 text-BLACK animated slideInDown mb-3">NUESTRO EQUIPO</h1>
            <nav aria-label="breadcrumb animated slideInDown">
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Team Start -->
    <div class="container-xxl py-6">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="text-primary text-uppercase mb-2">// Nuestro Equipo</p>
                <h1 class="display-6 mb-4">Usarios de Colaboradores</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item text-center rounded overflow-hidden">
                        <img class="img-fluid" src="img/administrador.jpg" alt="">
                        <div class="team-text">
                            <div class="team-title">
                                <h5>ADMINISTRADOR</h5>
                                <span>---------</span>
                            </div>
                            <div class="team-social">
                                <h5>Administracion</h5>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item text-center rounded overflow-hidden">
                        <img class="img-fluid" src="img/CAJERO.jpg" alt="">
                        <div class="team-text">
                            <div class="team-title">
                                <h5>CAJERO</h5>
                                <span>---------</span>
                            </div>
                            <div class="team-social">
                                <h5>Manejo de Efectivo</h5>
                            </div>
                        </div>
                    </div>
                </div>
                
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <img class="img-fluid" src="img/cocinero.jpg" alt="">
                            <div class="team-text">
                                <div class="team-title">
                                    <h5>COCINERO</h5>
                                    <span>---------</span>
                                </div>
                                <div class="team-social">
                                    <h5>Area de Comida</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="team-item text-center rounded overflow-hidden">
                                <img class="img-fluid" src="img/mesero.jpg" alt="">
                                <div class="team-text">
                                    <div class="team-title">
                                        <h5>MESERO</h5>
                                        <span>---------</span>
                                    </div>
                                    <div class="team-social">
                                        <h5>Servicio al Cliente</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row g-4">
                            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="team-item text-center rounded overflow-hidden">
                                    <img class="img-fluid" src="img/repartidor.jpg" alt="">
                                    <div class="team-text">
                                        <div class="team-title">
                                            <h5>REPARTIDOR</h5>
                                            <span>---------</span>
                                        </div>
                                        <div class="team-social">
                                            <h5>Entrega de Pedidos</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
    <!-- Team End -->

    <!-- Copyright Start -->
    <div class="container-fluid copyright text-light py-4 wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a href="#">Your Site Name</a>, All Right Reserved.
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                    <br>Distributed By: <a class="border-bottom" href="https://themewagon.com" target="_blank">ThemeWagon</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->

{% endblock contenido %}