{% extends 'base_sidebar.html' %}

 {% block contenido %}  


     <div class="container">
        {% block content %}
        <form action="" method="POST">
            
           <p> {% csrf_token %}
            {{ form.as_p  }}</p>
            <input type="submit" name="Guardar">
           </form>
        {% endblock content %}
    </div>

    <div style = "text-align:center">
        <form action="" method="get">
            <input type="text" name="descripcion" value="{{request.GET.descripcion}}">
            <button type="submit">Buscar</button>
        </form>
    </div>


 
    {% block list%}
{% for col in object_list %}
{{ col.nombre }}
{{ col.edad }}
{{ col.direccion }}
{{ col.telefono }}
{% endfor %}
<a href="{% url 'home:mainapp' %}">Home</a>
{% endblock list %}
    </div>

{% endblock contenido %}